@font-face {
    font-family: "Georgia";
    src: url(fonts/georgia.ttf);
}

body {
    overflow-x: hidden;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.menu {
    flex-grow: 1;
    margin-top: 17px;
  }

  .menu ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .menu li {
    margin-right: 40px;
    margin-top: -15px;
  }

  .menu li:last-child {
    margin-right: 0;
  }

  .menu a {
    margin-bottom: 30;
    padding: 8px 10px;
    color: #292929;
    text-decoration: none;
    font-size: 20px;
    line-height: 24px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
  }

  .logo {
    margin-right: 72px;
    margin-left: 60px;
    margin-top: 5px;
    opacity: 0.6;
  }

  .action {
    margin-right: 56px;
    margin-top: 17px;
  }

  .action a {
    margin-right: 35px;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-family: "Lato", sans-serif;
  }

  .action button {
    background-color: #01996D;
    font-size: 20px;
    line-height: 25px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: white;
    cursor: pointer;
    padding: 13px 50px 13px 50px;
    border: 1px solid #01996D;
    border-radius: 4px;
    margin-bottom: 17px;
  }

  .manage h1 {
    font-size: 65px;
    line-height: 74px;
    font-weight: 700;
    font-family: "Georgia", sans-serif;
    width: 440px;
    color: #01996D;
    margin-bottom: 30px;
  }

  .manage p {
    color: #484848;
    font-size: 20px;
    line-height: 32px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    width: 420px;
    margin-bottom: 65px;
  }

  .button {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #01996D;
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    padding: 20px 50px 20px 50px;
    border: 1px solid #01996D;
    border-radius: 4px;
  }

  .manage {
    margin-left: 100px;
    margin-top: -125px;
    margin-bottom: 336px;
    position: absolute;
    top: 250px;
    left: 0;
    width: 100%;
        }

  .img-bg {
    position: relative;
    width: 100%;
    }
    
    /* .numbers {
        overflow-y: hidden;
   } */

   .title-description p {
    color: #424242;
    font-size: 24px;
    line-height: 38px;
    font-weight: 400;
    width: 141px;
    font-family: "Lato", sans-serif;
   }

   .title-description h1 {
    color: #01996D;
    font-size: 50px;
    line-height: 79px;
    font-weight: 700;
    width: 584px;
    margin-top: -30px;
    font-family: "Georgia", sans-serif;
   }

   .title-description {
    margin-left: 100px;
    margin-top: 169px;
   }
  
   .description-title-2 {
    color: #424242;
    font-size: 21px;
    line-height: 30px;
    font-weight: 500;
    width: 671px;
    margin-left: 745px;
    margin-top: -166px;
    height: 259px;
    font-family: "Lato", sans-serif;
   }

   .description-number01 {
    color: #424242;
   }

   .description-number02 {
    color: #424242;
   }

   .description-number03 {
    color: #424242;
   }


   .first {
    position: absolute;
    top: 1395px;
    left: 100px;
    bottom: 967px;
    margin-top: 100px;
   }

   .number01 h1 {
    position: absolute;
    width: 100%;
    top: 1425px;
    left: 182px;
    font-size: 30px;
    line-height: 45px;
    font-weight: 700;
    font-family: "Georgia", sans-serif;
    margin-top: 120px;
   }

   .paragraph01 {
    margin-top: 183px;
    margin-left: 100px;
    width: 382px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    font-family: "Lato", sans-serif;
   }

   .laptop {
    margin-left: 100px;
    margin-top: 45px;
    margin-bottom: 255px;
   }
  
   .second {
    position: absolute;
    top: 1800px;
    left: 550px;
    bottom: 3192px;
   }

   .number02 h1 {
    position: absolute;
    font-size: 30px;
    line-height: 45px;
    font-weight: 700;
    font-family: "Georgia", sans-serif;
    width: 100%;
    top: 1831px;
    left: 623px;
   }

   .paragraph02 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    font-family: "Lato", sans-serif;
    width: 392px;
    margin-top: -668px;
    margin-left: 562px;
   }

   .book {
    margin-left: 560px;
   }

   .third {
    position: absolute;
    top: 1560px;
    left: 1050px;
   }

   .number03 h1 {
    position: absolute;
    width: 100%;
    top: 1590px;
    left: 1168px;
    font-size: 30px;
    line-height: 45px;
    font-weight: 700;
    font-family: "Georgia", sans-serif;
   }

   .paragraph03 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    font-family: "Lato", sans-serif;
    width: 441px;
    margin-left: 1020px;
    margin-top: -850px;
   }

   .girl {
    margin-left: 1020px;
   }

   .bg {
    position: relative;
    margin-top: 240px;
    width: 100%;
    height: 722px;
   }

   .video {
    position: absolute;
    top: 2770px;
    left: 120px;
}

   .video h1 {
    font-size: 50px;
    line-height: 79px;
    font-weight: 500;
    color: #FFFFFF;
    font-family: "Georgia", sans-serif;
    margin-bottom: 33px;
   }

   .video p {
    font-size: 25px;
    line-height: 39px;
    font-weight: 400;
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    margin-bottom: 57px;
   }

   .video-button {
    color: #FFFFFF;
    background-color: #01996D;
    font-size: 20px;
    line-height: 25px;
    font-weight: 300;
    font-family: "Lato", sans-serif;
    padding: 20px 50px 20px 50px;
    text-decoration: none;
    border: 1px solid #01996D;
    border-radius: 4px;
}

.women-video {
    position: absolute;
    top: 2770px;
    left: 718px;
    bottom: 177px;
    width: 650px;
}

.product {
    font-size: 25px;
    line-height: 39px;
    font-weight: 400;
    color: #424242;
    font-family: "Lato", sans-serif;
    position: absolute;
    top: 3430px;
    left: 745px;
}

.description-conclusion h1 {
    font-size: 50px;
    line-height: 79px;
    font-weight: 700;
    color: #01996D;
    font-family: "Georgia", sans-serif;
    width: 584px;
    margin-top: 100px;
}

.description-conclusion p {
    font-size: 20px;
    line-height: 31px;
    font-weight: 400;
    color: #484848;
    width: 530px;
    font-family: "Lato", sans-serif;
    margin-bottom: 60px;
}

.conclusion-button {
    color: #FFFFFF;
    background-color: #01996D;
    font-size: 20px;
    line-height: 25px;
    font-weight: 300;
    font-family: "Lato", sans-serif;
    padding: 20px 50px 20px 50px;
    text-decoration: none;
    border: 1px solid #01996D;
    border-radius: 4px;
    width: 227px;
}

.description-conclusion {
    position: absolute;
    top: 3427px;
    left: 750px;
}

.smile {
    position: absolute;
    width: 590px;
    top: 3460px;
    left: 100px;
}

.background-green {
    background: #245852;
    height: 754px;
    width: 1920px;
    margin-top: 920px;
}

.card {
    position: absolute;
    top: 3790px;
    left: 60px;
    background-color: #FFFFFF;
    width: 266px;
    height: 263px;
    border-radius: 4px;
    filter: drop-shadow(0px 3.62249px 18.1125px rgba(165, 165, 165, 0.25));
}

.card-title {
    font-size: 15px;
    line-height: 23px;
    font-weight: 600;
    text-align: center;
    color: #000000;
    font-family: "Lato", sans-serif;
    border-bottom: 1px black solid;
}

.card-icon {
    padding-left: 100px;
}

.paragraph-card {
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    line-height: 19px;
}

.card-title-two {
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    font-family: "Georgia", sans-serif;
    font-weight: 700;
}

.first-li {
    font-size: 11px;
    line-height: 17px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    margin-bottom: 16px;
}

.second-li {
    font-size: 11px;
    line-height: 17px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}



.menu2 a {
    font-size: 25px;
    line-height: 30px;
    font-weight: 500;
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    margin-left: 120px;
    margin-top: 85px;
    display: grid;
}

.conclusion-title {
    margin-left: 120px;
    margin-top: 140px;
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;
    color: #FFFFFF;
    font-family: "Avenir", sans-serif;
}

.menu2 {
    position: absolute;
}
  
   
